/src/ros/ros_tutorials/
/src/zenoh/
/src/zenoh-plugin-ros2dds/
/src/Livox-SDK2/.vscode/
/src/Livox-SDK2/build/
/src/ros/FAST_LIO/**/build/
/src/ros/FAST_LIO/**/install/
/src/ros/FAST_LIO/**/log/
/src/ros/FAST_LIO/**/devel/
/src/ros/FAST_LIO/**/__pycache__/
/src/ros/FAST_LIO/.vscode/
/src/ros/FAST_LIO/Log/*.png
/src/ros/FAST_LIO/Log/*.txt
/src/ros/FAST_LIO/Log/*.csv
/src/ros/FAST_LIO/Log/*.pdf
/src/ros/FAST_LIO/PCD/*.pcd
/src/ros/livox_ros_driver2/**/build/
/src/ros/livox_ros_driver2/**/install/
/src/ros/livox_ros_driver2/**/log/
/src/ros/livox_ros_driver2/**/devel/
/src/ros/livox_ros_driver2/**/__pycache__/
/src/ros/livox_ros_driver2/.vscode/
/src/ros/livox_ros_driver2/package.xml
/src/ros/unitree_ros2/**/build/
/src/ros/unitree_ros2/**/install/
/src/ros/unitree_ros2/**/log/
/src/ros/unitree_ros2/**/devel/
/src/ros/unitree_ros2/**/__pycache__/
/src/ros/unitree_ros2/**/.vscode/
/src/ros/unitree_ros2/.cache/
.env
.env.jetson
configs/zenoh/zenoh-config-client.json
.env.bridge
.env.visualization-host
*~
/install
/build
/log
*.pcd
